.widget-button {
  position: fixed;
  right: 20px;
  bottom: 20px;

  width: 60px;
  height: 60px;

  border: none;
  border-radius: 50%;

  background: #2563eb;
  color: white;

  cursor: pointer;

  font-size: 24px;

  box-shadow: 0 5px 15px rgba(0,0,0,.25);
}

.widget-window {

  position: fixed;

  right: 20px;
  bottom: 90px;

  width: 350px;
  height: 500px;

  background: white;

  border-radius: 12px;

  box-shadow: 0 5px 20px rgba(0,0,0,.2);

  overflow: hidden;
}

.widget-header{

  background:#2563eb;
  color:white;

  padding:15px;

  display:flex;
  justify-content:space-between;
}

.widget-body{

  padding:20px;
}